#map {
  height: 100px;
}

.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}
.validateError {
  color: red;
}
.storeDivider {
  position: relative;
  font-size: 0.9em;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 16px;
  text-align: left;
}
.nearStore {
  height: 100px;
  overflow: scroll;
}
.nearStoreLabel{
  font-weight: bold;
}
.nearStoreHeader{
  text-align: left;
  margin-left: 20px;
}
.container{
  padding:5px;
}
.customButtons{
  color:#00893f;
  border:1px solid #00893f;
  border-radius: 10%;
}
.scroll{
height:200px;
overflow-y: scroll;
}

